/* stronger scroll enforcement for filters (in case of nested wrappers) */
#filters-sidebar, #filters-sidebar * { overscroll-behavior: contain; }
#filters-sidebar .checkbox-group{max-height:220px!important; overflow-y:auto!important; -webkit-overflow-scrolling:touch}
#filters-sidebar .checkbox-group .checkbox-item{white-space:nowrap}
